html{ /* etiqueta raiz*/
font-size: 62,5%;
}
*{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Montserrat', sans-serif;
} 

/* Navbar */
.brand-position{
    padding-left:130px;
}
.sombra{
    background-color: #ffffff;    
    box-shadow: 8px 8px 20px #ebebeb;
}
ul li a{
    height: 100px;
    color:#eb4d4b;
    text-decoration: none;
    margin: 40px;
}

ul li a:hover{
    color:#2f3640;
    background:transparent;
    text-decoration: none;    
}

/* Tipografía gral */
h1{
    color:#2f3640;
    font-weight: 700;
    font-size: 3rem;
    padding-right: 200px;
    padding-left: 150px;
    padding-bottom:40px;
    padding-top: 40px;
}

h2{
    color:#2f3640;
    font-weight: 600;
    font-size: 2rem;
    padding-right: 200px;
    padding-left: 150px;
    padding-bottom:40px;
    padding-top: 40px;
}

h3{
    color:#2f3640;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;    
}

p{
    color:#2f3640;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.6;
    padding-right: 200px;
    padding-left: 150px;
    padding-bottom:40px;
    padding-top: 40px;
}

.link{
    color:#eb4d4b;
    text-decoration: none;
}
.link:hover{
    color: #ff6b6b;
    text-decoration: none;
}

.centrar{
    text-align:center;
}


/* Home */
.centrarGrilla{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.homeGrilla{
    width: 80%;
    display: grid;  
   grid-template-columns: 200px 600px;
   grid-template-rows: repeat(6,40px);
   justify-items: center;
   background-color: cornsilk;
   text-align: left;
}
.abc{
    width: 100%;
    height: 10%;
   justify-content: center;
}
.achicar{
    width: 300px;
    height: 300px;    
    margin: 10px;
    flex-direction: column;
    justify-content: center;
}

/*---------------- Manifiesto */
                .manifiesto {
                    height: 350px;
                    padding: 10px;
                    margin: 0px;
                    display: flex;
                    flex-wrap: wrap;
                    cursor: pointer;    
                }
                .manifiesto > div {
                        background-color: #ffffff;
                        width: 450px;
                        margin: 10px;
                        text-align: left;
                        line-height: 75px;
                        font-size: 30px;
                }

                .manifiesto h3 {
                    text-align: center;
                    font-weight: 600;
                    font-size: 20px;
                }

                .manifiesto p {
                    margin: 10px;
                    font-weight: 400;
                    font-size: 18px;
                    padding:20px;
                }

                
                .item:hover{
                    width: 400px;
                    background-color:#e43f3c;
                    padding-top:20px;
                    margin: 20px;
                    color: #e6e6e6;
                }


/* Servicios */
.serviciosFlex{
    padding: 40px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.cardServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    align-items: center;
}
.servicios{
    color:#2f3640;
    font-weight: 500;
    font-size: medium;
    padding-top: 15px;
    text-decoration: none;
}

/* Proyectos */
.typeProyectos{
    font-size: 30px;
    font-weight:600;
    text-align: center;
    padding-left: 20px;
    padding-bottom:20px;
    text-decoration: none;
}

.proyectosFlex{
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    grid-row-gap: 10px;
    height: 800px;
}
.cardProyectos{
    width:400px;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 8px 8px 20px #e6e6e6;
}
.cardProyectos:hover{
    opacity: 50%;
    transition: .5s ease;   
}

.itemProyecto{
    flex-flow: column wrap;
    justify-content:space-around;
}
/* .janguer{
    flex-flow: column wrap;
    justify-content:space-around;
}
.milo{
    flex-flow: column wrap;
    justify-content:space-around;
}
.logofolio{
    flex-flow: column wrap;
    justify-content:space-around;
} */


.pointer {
    cursor: pointer;
}  
    
/* .overflow{
    overflow: scroll;
} */

/* Bio */
/*---------------- Equipo */
                    .flex-container {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .equipo {
                        margin: 0px;
                        display: flex;
                        flex-wrap: wrap;   
                    }
                    .equipo > div {
                            background-color: #2b2e33;
                            width: 50%;
                            margin: 0px;
                            text-align: center;
                            line-height: 75px;
                            font-size: 30px;
                            align-items: center;
                            padding-top: 20px;
                            padding-bottom: 20px;
                    }

                    .equipo h3 {
                        color: #ffffff;
                        text-align: center;
                        font-weight: 600;
                        font-size: 18px;
                        padding-top: 20px;
                    }

                    .equipo p {
                        color: #ffffff;
                        margin: 10px;
                        font-weight: 400;
                        font-size: 18px;
                        padding:30px;
                    }

                    .imagen{
                        width: 250px;
                        height: 250px;    
                        margin:auto;
                        flex-direction: column;
                        justify-content: center;
                    }

                    .imagen:hover{
                        opacity: 50%;
                        transition: .5s ease;        
                    }

/* Contacto */
.centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formularioFlex{
    width: 80%;
    display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
}
.botonesFlex{
    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
}
form{
    width: 300px;
    height: 600px;
    display:flex;
    flex-flow: column; 
    justify-content: center;
}
input{
    margin:15px;
    padding:20px;
    width:200px;
    height:10px;
    border: #bdc3c7 solid 1px;
    border-radius: 3px;
}
input:hover{
    color: #ff6b6b;
}
.boton{
    font-size: medium;
    margin: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;   
    background-color: #ffffff;
}

.msj{
    padding-bottom: 15px;
}

.logo0{
    display:block;
    margin:auto;
    padding-bottom: 30px;
}

.typeFormulario{
    font-size: medium;
    font-weight:400;
}
.textoArea{
    font-size: small;
    font-weight:300;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:18px;
}

/* Footer */
footer{
    width: 100%;
    background-color: #2b2e33;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    padding: 50px 0 50px 0;
}

.txtFooter{
    font-weight: 600;
    font-size: xx-large;
    color:#ff6b6b;
}

.pieFooter{
    font-weight: 200;
    font-size: medium;
    color:#f5f6fa;
    padding-top: 20px;
}

.pieFooter span{
    font-weight:bold;
    color:#f5f6fa;
}

.reDes{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    /* grid-row-gap: 15px; */
    padding-bottom: 20px;
}

.redes:hover{
    height: 60px;
    width: 60px;
}

/* Estilos varios */
.padd{
    padding-left: 100px;
    padding-top: 20px;
}

.planeta{
    transform: translate(23px, 36px);
    padding-right: 25px;
}


/* Responsive */
@media (max-width: 800px) {
    .brand-position{
        padding-left:2px;
    }

    span{
        font-size: 15px;

    }
        
    h1 {
        font-size: 30px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom:30px;
        padding-top: 40px;
    }

    h2{
        font-size: 25px;
        padding-right: 20px;
        padding-left: 30px;
        padding-bottom:30px;
        padding-top: 40px;
        text-align: left;        
    }

    h3{
        text-align: left;
        font-size:18px;
        
    }

    p{
        font-size: 16px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom:40px;
        padding-top: 40px;

    }
    a{
        font-size: 16px;
    }
    
    section{
        flex-direction: column;
    }

    .manifiesto{
        height: 1050px;

    }

    .proyectosFlex{
        height: 2300px;
    }

    .equipo > div {
        background-color: #2b2e33;
        width: 100%;
        margin: 0px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        align-items: center;
    }
}
